# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log

# Virtual Environment
venv/
ENV/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# VSCode / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Model weights
*.pt
*.onnx
*.json

# Build / Dist
build/
dist/
*.egg-info/

# Cache
*.cache/
*.pytest_cache/

sessions/
